/* Ocultar el scrollbar */
::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

/* Agregar desplazamiento en los elementos necesarios */
body {
  overflow-y: scroll;
}


/*   formulario   */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

legend {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}

input[type="number"],
input[type="text"],
input[type="given-name"],
input[type="file"] {
    border:none;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: black;
}
/*------------------*/
  

/*----NAVBAR----*/
  .banner {
    background-color: #000000;
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  
  .banner .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
  }
  
  .banner #logo img {
    margin-right: 20px;
  }
  
  .banner #buscar {
    display: flex;
    align-items: center;
  }
  
  .banner #buscar input[type="search"] {
    width: 300px;
    margin-right: 10px;
  }
  
  .banner #icons {
    display: flex;
    align-items: center;
  }

  .banner #icons a {
  color: #ffbd59;
  }

  .banner #icons svg {
    margin-right: 20px;
    cursor: pointer;
  }


/*------------------*/

/*--- FILTRO ---*/

  .filter-section p {
    margin-top: 0px;
  }

/*------------------*/

  /* BOTONES DE LA TARJETAS */

  button {
    border: none;
    background-color: transparent;
    color: none;
  }
  .card-body h4 {
    font-family: 'Roboto', sans-serif;
    color: black;
  }

  a.product-link {
    color: black; /* Cambiar el color del enlace a negro */
    text-decoration: none; /* Quitar el subrayado */
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
  }


  .cart-icon-full {
    /* Definición del icono de carrito lleno */
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='27' fill='green' class='bi bi-cart-check-fill' viewBox='0 0 16 16'%3E%3Cpath d='M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z'/%3E%3C/svg%3E");
  }

  